.bg-deepBlue{
    background-color: #0A1128;
    color: white;
}

.bg-Blue{
    background-color: #034078;
    color: white;
}

.hr-Marginless{
    margin: 0;
    padding: 0;
}

.btn-coral{
    background-color: #034078;
    color: white;
}

.btn-ImperialRed{
    background-color: #E93541;
    color: white;
}

.font-black{
    color: black;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bg-kaki{
    background-color: #00ACEE;
    color: white;
}

.bg-competiciones{
    background-color: #E57373;
}

.bg-disponibles{
    background-color: #FFF8E1;
}


div.three {
    border-style: solid;
    border-color: #e63946;
    border-radius: 0.5em;
}

.card-red{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e63946;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.timer{
    border-radius: 0.5em;
    background-color: #001F54;
    color: #fff;
    padding: 10px 20px 10px 20px;
}