# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jesus\Desktop\Universidad\3º\Interfaces de usuario\Trabajo fianl\interfaces-arqueria\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
